<div class="log-in-background">
<div class="grid-x grid-padding-x log-in-background">
  <div class="medium-6 large-6 cell FAQ">
  <h4 class="FAQ-title">What is MyPrepChef?<h4>
  <h5 style="font-family: 'Neucha', cursive;">- An application designed to simplify meal planning for users.</h5>
  <h4 class="FAQ-title">How can we help you?</h4>
  <h5 style="font-family: 'Neucha', cursive;">- By joining us, you will have access to the right tools so that you can live a healthier life. Our Application will allow you create meals from scratch, and to track the nutritional value inside of them.</h5>
  <h4 class="FAQ-title">What is our mission?</h4>
  <h5 style="font-family: 'Neucha', cursive;">- Our mission is to promote a healthier lifestyle and to make it easier for people to track their food consumption on a daily basis. </h5>
  <img src="https://img.clipartxtras.com/308381c330c49d1f2bb85781e6eedb62_fork-clipart-black-and-white-clipart-panda-free-clipart-images-fork-and-knife-clipart-black-and-white_620-481.svg" class="plate-photo">
  </div>
  <div class="medium-1 large-1 cell">
  </div>
  <div class="medium-4 large-4 cell align-center sign-up-form">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <h4 class="sign-up-title">Sign up</h4>
  <div class="field">
    <%= f.label :first_name, 'First Name' %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, 'Last Name' %>
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :user_name, 'Username' %>
    <%= f.text_field :user_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Password Confirmation' %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
<div class="grid-x align-center">
  <div class="actions">
    <%= f.submit "Sign Up" %>
</div>
  </div>
</br>
<% end %>
<div class="grid-x align-center">
<%= link_to "Already a Member? Sign In Here", new_user_session_path %>
</div>
</div>
</div>
</div>
